.img {
  position: absolute;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.73),
      rgba(200, 200, 200, 0.2)
    ),
    url("https://thumbs.dreamstime.com/b/happy-black-man-holding-latest-slim-smartphone-smiling-african-american-man-holding-latest-slim-smartphone-blank-screen-131167223.jpg");
  width: 80%;
  height: 400px;
  background-size: cover;
  color: white;
  padding: 20px;
}

.square {
  position: relative;
  top: 100px;
  left: 260px;
  height: 30px;
  width: 100px;
  background-color: black;
}
