.container {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  border: 20px solid salmon;
  background-color: salmon;
  width: 400px;
}
.item {
  text-align: center;
  height: 50px;
}
