.container {
  display: grid;
  grid-template-columns: repeat(6, 200px);
  border: 20px solid salmon;
  width: 1200px;
}

.grid-item {
  padding: 20px;
  text-align: center;
  height: 400px;
}
